<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>North Star Numbers</title>

        {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
        <script src="/web/scripts/c3.css"></script>
        <script src="/web/scripts/c3.js"></script>
        <script src="/web/scripts/d3.js"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    hello!
    </body>
</html>
