<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>North Star Numbers</title>
        <link href="{{ asset('scripts/c3.css') }}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link href="{{ asset('scripts/style.css') }}">
    </head>
    <body>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">NS Credits</a></li>
        <li role="presentation"><a href="#">NS GDC</a></li>
        <li role="presentation"><a href="#">Case Count</a></li>
        <li role="presentation"><a href="#">Historical GDC</a></li>
        <li role="presentation"><a href="#">Log in</a></li>
    </ul>
    </br>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">Austin-Bell North Star Credits</div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">2017 Goal: $2,000,000</div>
        </div>
        </br>
        <div class="row">
            <div id="chart" class="block-center col-md-8 col-md-offset-2"></div>
        </div>

    </body>
<footer>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="{{ asset('scripts/c3.js') }}"></script>
    <script src="{{ asset('scripts/charts.js') }}"></script>
</footer>
</html>
